PUID=1000
PGID=1000
UPDATE_ON_START=true
INVITE_CODE=changeme
SERVER_PORT=7777
USER_SELECTED_REGION=EU
SERVER_NAME=Windrose Server
SERVER_PASSWORD=changeme
MAX_PLAYERS=10
P2P_PROXY_ADDRESS=127.0.0.1

# Direct Connections - cannot be used with P2P Proxy
USE_DIRECT_CONNECTION=false
DIRECT_CONNECTION_PROXY_ADDRESS=0.0.0.0
SERVER_PORT=7777